PORT=4000
NODE_ENV=development

SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
WHATSAPP_BUSINESS_PHONE=995599030430

FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=39399657036-vo2dtuakhgfv75ggecjnqlba4l7rmbds.apps.googleusercontent.com

SESSION_DAYS=7
